<?xml version="1.0" ?>
<model>
    <name>shelby_building_a</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Giovani Del Nero Diniz</name>
        <email>giovani.diniz@raytheon.com</email>
    </author>
    <description>Camp Shelby - CACTIF - Building A</description>
</model>
